@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

.input {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
}
.inputBox {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2;
    box-shadow: inset 0 0 3px black;
    font-family: "New Amsterdam", cursive;
}

.inputBox:focus{
    box-shadow: 0 0 10px 1000px rgb(0, 0, 0, 0.3);
    outline: none;
}

.inputSubmit{
    position: absolute;
    width: 55px;
    height: 55px;
    margin: 12px;
    border-radius: 60px;
    border: none;
    right: -2px;
    font-size: 20px;
    background-color: rgb(255, 255, 203);
    color: black;
    transition: 0.2s all;
    box-shadow: 0 0 3px black;
    font-family: "New Amsterdam", cursive;
}
.inputSubmit:hover{
    transition: 0.2s;
    box-shadow: 0 0 6px  black;
    transform: scale(1.03);
}

.ListToDo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 95%;
    align-items: flex-start;
}

.tasks {
    display: flex;
    flex-direction: column;
    width: 47.5%;
    border-radius: 5px;
    padding:  15px;
    background-color:  rgb(247, 187, 227);
    position: relative;
}

.tasks-heading{
    font-size: 30px;
    color:  rgb(22, 1, 1);
    text-align: center;
    z-index: 2;
    position: relative;
}

.toDoItem {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/premium-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?w=900");
    transition: 0.2s;
}
    
.toDoItem:hover {
    box-shadow: 0 0 5px  black;
    transform: scale(1.02);
}

.toDoItem-text {
    flex: 1;
    padding:  5px;
    border: none;
    font-size: 20px;
    word-wrap: break-word;
}

.toDoItem-input:focus {
    outline: none;
}
.toDoItem-input {
    flex: 1;
    padding:  5px;
    border: none;
    font-size: 20px;
    font-family: "New Amsterdam", cursive;
}

.icon {
    margin-left:  10px;
    font-size: 25px;
    cursor: pointer;
}

.completed {
    background-color: rgb(187, 227, 247)
}
@media (max-width: 700px) {
    .input{
        width: 95%;
    }
    .tasks {
        width: 95%;
        margin-bottom: 10px;
    }
    .ListToDo{
        width: 95%;
        flex-direction: column;
    }
}

@media (max-width: 1100px) {

    .tasks {
        width: 40%;
    }
}

.placeholder {
    background-color: white;
    border-radius: 3px;
    border: dashed 1px blue !important;
    position: absolute;
}

