@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}
.inputBox {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2;
    box-shadow: inset 0 0 9px black;
}

.inputBox:focus{
    box-shadow: 0 0 10px 1000px rgb(0, 0, 0, 0.3);
    outline: none;
}

.inputSubmit{
    position: absolute;
    width: 55px;
    height: 55px;
    margin: 12px;
    border-radius: 60px;
    border: none;
    right: -2px;
    font-size: 15px;
    background-color: rgb(5, 137, 5);
    color: white;
    transition: 0.2 all;
    box-shadow: 0 0 10 black;
}

.ListToDo {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.toDoItem {
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-image: url("https://img.freepik.com/premium-vector/elegant-white-background-with-shiny-lines_1017-17580.jpg?w=900");
}

.toDoItem-text {
    flex: 1;
    padding:  5px;
    border: none;
    font-size: 20px;
}

.toDoItem-input:focus {
    outline: none;
}
.toDoItem-input {
    flex: 1;
    padding:  5px;
    border: none;
    font-size: 20px;
    font-family: "New Amsterdam", cursive;
}


.icon {
    margin-left:  10px;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .input{
        width: 95%;
    }
    .ListToDo {
        width: 95%;
    }
    .toDoItem {
        width: 100%;
    }
}

@media (max-width: 1200px) {

    .toDoItem {
        width: 40%;
    }
}